<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>
        This is a master page.
    </h1>
    <h2>Welcome @ViewBag.Username</h2>
    <div style="background-color:blanchedalmond">
        @RenderBody()
    </div>
    <h3>This is footer</h3>
</body>
</html>
